# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
fenv/
env/
.fenv/
.env/

# VS Code and other IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.bak

# Environment variables
.env
*.env

# Testing cache
.coverage
.cache/
pytest_cache/

# MyPy
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Pydantic
__pydantic_schema_cache__/
